Task Manager with some extra features

Features
1. CRUD operations - Get all tasks, Delete it, Edit it and Create it - done 
2. Priority, Status, Due Dates of tasks - done 
4. Authentication using JWT (Use hash to store passwords) and Logout - done 
6. Filter to search out based on Priority/dates added - done 
3. Generate feedback weekly and send it as pdf to user at gmail(cron which runs weekly) - done 

Need to complete this before 15thJune
7 - Use flags package to run api or cron only
8. Swagger for API documentation - 2 
9. also add unit tests for mongo(try with docker) and http handlers - 1
10. Demo Video 

Tech
Backend - Golang 
DB: MongoDB 
Swagger - For API documentation

CRUD,Filter,Zap Logger for logging 
JWT and Hash,
Cron + email(go templates and smtp), 
unit tests using docker, swagger